<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>Add a Trip</h2>
    <form action="{% url "dashboard" %}" method="post">
        {% csrf_token %}
        
        <label> Destination:</label>
        <input type="text" name="destination">

        <label> Description:</label>
        <input type="text" name="description">

        <label> Travel Date From: </label>
        <input type="text" name="from">

        <label> Travel Date To:</label>
        <input type="text" name="to">

        <input type="submit" value="AddTrip">

    </form>
    
    <a href="/logout">Logout</a>
    <a href="{% url "dashboard" %}">Home</a>
    </body>
</html>